$pc: 768px;
$twitter: #1da1f2;
$facebook: #4267b2;
$font-A: 20px;
$font-B: 26px;

a {
  color: #000;
  text-decoration: none !important;
}
ul {
  list-style: none;
  padding: 0;
}
@mixin bold {
  font-weight: bold;
}
@mixin link-box($number1, $number2, $number3) {
  color: #fff;
  background-color: #ffb32e;
  padding: $number1 $number2;
  border-radius: $number3;
}
@mixin pc {
  @media (min-width: ($pc)) {
    @content;
  }
}
@mixin sp {
  @media (max-width: ($pc)) {
    @content;
  }
}
