$pc: 768px;
img {
  width: 100%;
}
hr {
  margin: 0;
}
a {
  color: #000;
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
}
.row {
  margin: 0;
}
@mixin pc {
  @media (min-width: ($pc)) {
    @content;
  }
}
@mixin sp {
  @media (max-width: ($pc)) {
    @content;
  }
}
